<head>
    <title>
        :
        Generic Function
        element
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>
            Internal
            Generic Function
        </i>
        <strong>
            element
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        IT.UNIMIB.DISCO.MA.XHTMLAMBDA
    </p>
    <h2>
        Syntax:
    </h2>
    <p>
        <pre>
  <span style="color: red"><strong>element</strong></span> <i>TAG</i> <i>ATTRIBUTES</i> <span style="color: blue">&REST</span> <i>CONTENT</i>
    &rarr; <i>result</i></pre>
    </p>
    <h3>
        Arguments and Values:
    </h3>
    <ul style="list-style-type: none">
        <li style="list-style-type: none">
            <i>
                <code>
                    TAG
                </code>
            </i>
             :
            a T.
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    ATTRIBUTES
                </code>
            </i>
             :
            a T.
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    CONTENT
                </code>
            </i>
             :
            a T.
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    result
                </code>
            </i>
             : a T.
        </li>
    </ul>
    <h2>
        Description:
    </h2>
    <p>
        The ELEMENT constructor.
    </p>
    <p>
        Serves as a 'factory' for ELEMENT objects and as a hook for peri-call methods.
    </p>
</body>