<head>
    <title>
        (X)HTM&Lambda;
        :
        FUNCTION
        make-tag
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>
            Internal
            Function
        </i>
        <strong>
            make-tag
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        IT.UNIMIB.DISCO.MA.XHTMLAMBDA
    </p>
    <h2>
        Syntax:
    </h2>
    <div>
        <p>
            <pre>
  <strong style="color: red">make-tag</strong> <span style="color: blue">&KEY</span> <i>NAME</i> <i>CATEGORIES</i> <i>CONTEXT</i> <i>CONTENT</i> <i>SPECIFIC-ATTRIBUTES</i> &rarr; <i>result</i></pre>
        </p>
    </div>
    <h3>
        Arguments and Values:
    </h3>
    <ul style="list-style-type: none">
        <li style="list-style-type: none">
            <i>
                <code>
                    NAME
                </code>
            </i>
             :
            a
            (OR SYMBOL STRING)
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    CATEGORIES
                </code>
            </i>
             :
            a
            T
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    CONTEXT
                </code>
            </i>
             :
            a
            T
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    CONTENT
                </code>
            </i>
             :
            a
            T
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    SPECIFIC-ATTRIBUTES
                </code>
            </i>
             :
            a
            T
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    result
                </code>
            </i>
             :
            a TAG.
        </li>
    </ul>
    <h2>
        Description:
    </h2>
    <p>
        A constructor for the structure TAG.
    </p>
</body>