<head>
    <title>
        (X)HTM&Lambda;
        :
        Generic Function
        rewrite
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>
            Internal
            Generic Function
        </i>
        <strong>
            rewrite
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        IT.UNIMIB.DISCO.MA.XHTMLAMBDA
    </p>
    <h2>
        Syntax:
    </h2>
    <p>
        <pre>
  <span style="color: red"><strong>rewrite</strong></span> <i>OP</i> <i>SPEC</i> <i>SYNTAX</i>
    &rarr; <i>result</i></pre>
    </p>
    <h3>
        Arguments and Values:
    </h3>
    <ul style="list-style-type: none">
        <li style="list-style-type: none">
            <i>
                <code>
                    OP
                </code>
            </i>
             :
            a
            T
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    SPEC
                </code>
            </i>
             :
            a
            T
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    SYNTAX
                </code>
            </i>
             :
            a
            T
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    result
                </code>
            </i>
             : a T.
        </li>
    </ul>
    <h2>
        Description:
    </h2>
    <p>
        Rewrites a Sexp representing a (X)HTML element.
    </p>
</body>