<head>
    <title>
        (X)HTM&Lambda;
        :
        MACRO
        htmlise
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>

            Macro
        </i>
        <strong>
            htmlise
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        IT.UNIMIB.DISCO.MA.XHTMLAMBDA
    </p>
    <h2>
        Syntax:
    </h2>
    <div>
        <p>
            <pre>
  <strong style="color: red">htmlise</strong> (<span style="color: blue">&KEY</span> <i>SYNTAX</i>) <i>XHTML-FORM</i> &rArr; <i>form</i></pre>
        </p>
    </div>
    <h3>
        Arguments and Values:
    </h3>
    <ul>
        <li style="list-style-type: none">
            <i>
                <code>
                    XHTML-FORM
                </code>
            </i>
             :
            a Sexp representing some (X)HTML code.
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    SYNTAX
                </code>
            </i>
             :
            a HTML-SEXP-SYNTAX designator; defaults to *DEFAULT-HTML-SEXP-SYNTAX*
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    FORM
                </code>
            </i>
             :
            a FORM
        </li>
    </ul>
    <h2>
        Description:
    </h2>
    <p>
        The HTMLISE macro.
    </p>
    <p>
        The macro 'rewrites' a form according to the SYNTAX switch.  If it is
:COMPACT then all the forms are read as if they where written in the
abbreviated syntax, which is more useful for many forms without too
many attributes.  Otherwise, the 'standard' syntax is used, where the
attribute list must always be specified, even if ().  The default for
the SYNTAX switch, which is held in the variable
*DEFAULT-HTML-SEXP-SYNTAX* is :COMPACT.
    </p>
    <h2>
        Examples:
    </h2>
    <pre>
cl-prompt&gt; (htmlise (:syntax :compact) (&lt;:p (&lt;:b "Compact syntax.")))
&lt;p&gt;&lt;b&gt;Compact Syntax&lt;/b&gt;&lt;/p&gt;
 
cl-prompt&gt; (htmlise (:syntax :standard) (&lt;:p () (&lt;:b () "Standard syntax.")))
&lt;p&gt;&lt;b&gt;Standard syntax&lt;/b&gt;&lt;/p&gt;
 
cl-prompt&gt; (htmlise () ((&lt;:p :style "color: red") (&lt;:b "Compact syntax.")))
&lt;p style="color: red"&gt;&lt;b&gt;Compact Syntax&lt;/b&gt;&lt;/p&gt;</pre>
    <h2>
        See Also:
    </h2>
    <p>
        *default-html-sexp-syntax*

    </p>
</body>