<head>
    <title>
        Parameter *quote-character*
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>
            Internal
            Parameter
        </i>
        <strong>
            *quote-character*
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        IT.UNIMIB.DISCO.MA.XHTMLAMBDA
    </p>
    <h2>
        Description:
    </h2>
    <p>
        The 'quote' character used in (X)HTML(5) string quoting.
    </p>
    <p>
        The default is #\".

    </p>
</body>